<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Корзина</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div>
        <a href="/">Главная</a><br>
        <a href="/profile">Личный кабинет</a><br>
        <a href="/shop">Товары</a><br>
        <a href="/logout">Выйти</a>
    </div>
    <div class="dashboard_rules" sec:authorize="hasRole('ADMIN')">
        <a href="/admin">Кабинет администратора</a>
    </div>
    <div>
        <h3>Корзина</h3>
        <h4 th:text="${orderResult}"></h4>
        <table>
            <thead>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
            </thead>
            <th:block th:each="item: ${cart.getItems()}">
                <tr>
                    <td th:text="${item.getName()}"></td>
                    <td th:text="${item.getPrice()}"></td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="itemId" th:value="${item.getId()}"/>
                            <input type="hidden" name="action" th:value="deleteFromCart"/>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
        <form method="post">
            <a th:text="${cart.getPrice()}"></a>
            <input type="hidden" name="action" th:value="makeOrder"/>
            <button type="submit" class="btn btn-danger">Оформить заказ</button>
        </form>
    </div>
</body>
</html>